{%- comment -%}

  Generates a Buttons List from the `archives` or `feeds` datasets.

  @param {String} type *
  @param {String} include
  @param {String} exclude

{%- endcomment -%}
<nav class="buttons-list" role="navigation">
    {% include components/webmentions_button.liquid %}
    {% include components/comments_button.liquid %}
    {%- assign categories = site.categories | sort -%}
    {% if include.type == 'archive' %}
        <a class="button" href="/archive">
            {% include_cached content/svg.liquid type='article' %}
            Archive
        </a>
    {% else %}
        {% for check in categories %}
            {%- assign category_title = check[0] -%}
            {%- assign category = site.data.categories | where: 'category', category_title | first -%}
            {%- assign icon = category.icon -%}
            {%- if include.type == 'feeds' -%}
                {%- assign url = '/' | append: category.type | append: '.xml' -%}
                {%- assign rel = 'alternate' -%}
                {%- assign icon = 'rss' -%}
            {%- elsif include.type == 'archives' -%}
                {%- assign url = '/' | append: category.type -%}
            {%- endif -%}
            {% if include.include %}
                {% if include.include contains category.type %}
                    <a class="button"{% if rel %} rel="{{ rel }}"{% endif %} href="{{ url }}">
                        {% include_cached content/svg.liquid type=icon %}
                        {{ category.title }}
                    </a>
                {% endif %}
            {% elsif include.exclude %}
                {% unless include.exclude contains category.type %}
                    <a class="button"{% if rel %} rel="{{ rel }}"{% endif %} href="{{ url }}">
                        {% include_cached content/svg.liquid type=icon %}
                        {{ category.title }}
                    </a>
                {% endunless %}
            {% else %}
                <a class="button"{% if rel %} rel="{{ rel }}"{% endif %} href="{{ url }}">
                    {% include_cached content/svg.liquid type=icon %}
                    {{ category.title }}
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
</nav>
