<nav class="elsewhere" role="navigation">
    <ul class="elsewhere__list">
        {% for link in site.data.elsewhere %}
            {% if link.hidden %}
                <data title="{{ link.title }}" value="{{ link.value }}" rel="me{% if link.class %}  {{ link.rel }}{% endif %}"{% if link.class %} class="{{ link.class }}"{% endif %}></data>
            {% else %}
                {%- assign svg = link.svg | default: 'feather' -%}
                <li>
                    <a href="{{ link.value }}" title="{{ link.title }}" rel="me{% if link.rel %}  {{ link.rel }}{% endif %}"{% if link.class %} class="{{ link.class }}"{% endif %}>
                        {%- if link.svg -%}
                            {% include_cached content/svg.liquid type=svg title=link.title %}
                        {%- else -%}
                            {{ link.content | default: link.title }}
                        {%- endif -%}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
