{%- include assets/yml_head.liquid -%}
<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

    <title>{{ meta_title }}</title>

    <link rel="preconnect" href="https://cdn.carbonads.com">
    <link rel="preconnect" href="https://srv.carbonads.com">
    {% if page.comments == 'disqus' %}
        <link rel="preconnect" href="https://a.disquscdn.com">
        <link rel="preconnect" href="https://chrisburnell.disqus.com">
    {% endif %}
    {% if page.caniuse %}
        <link rel="preconnect" href="https://cdn.jsdelivr.net">
    {% endif %}
    {% if page.codepen or page.codepen_slug %}
        <link rel="preconnect" href="https://codepen.io">
        <link rel="preconnect" href="https://assets.codepen.io">
        <link rel="preconnect" href="https://s.codepen.io">
    {% endif %}
    {% if page.speakerdeck or page.speakerdeck_slug %}
        <link rel="preconnect" href="https://speakerdeck.com">
    {% endif %}
    {% if page.twitter %}
        <link rel="preconnect" href="https://platform.twitter.com">
    {% endif %}
    {% if page.vimeo or page.vimeo_slug %}
        <link rel="preconnect" href="https://player.vimeo.com">
    {% endif %}
    {% if page.youtube or page.youtube_slug %}
        <link rel="preconnect" href="https://www.youtube.com">
    {% endif %}
    {% if checkin.lat and checkin.long %}
        <link rel="preconnect" href="https://api.mapbox.com">
    {% endif %}

    {% if link %}
        <link rel="prefetch" href="{{ link }}">
    {% endif %}

    <link rel="feed" type="application/atom+xml" title="{{ site.author.name }} — All" href="{{ '/feed.xml' | prepend: site.live_url }}">
    <link rel="feed" type="application/atom+xml" title="{{ site.author.name }} — Replies" href="{{ '/replies.xml' | prepend: site.live_url }}">
    <link rel="feed" type="application/atom+xml" title="{{ site.author.name }} — RSVPs" href="{{ '/rsvps.xml' | prepend: site.live_url }}">
    {% if page.feed %}
        <link rel="feed" type="application/atom+xml" title="{{ site.author.name }} — {{ page.title }}" href="{{ page.feed | prepend: site.live_url }}">
    {% endif %}
    <link rel="self" href="{{ '/feed.xml' | prepend: site.live_url }}">
    <link rel="pingback" href="{{ site.author.urls.webmention }}/xmlrpc">
    <link rel="webmention" href="{{ site.author.urls.webmention }}/webmention">
    <link rel="authorization_endpoint" href="{{ site.author.urls.authorization }}">
    <link rel="token_endpoint" href="{{ site.author.urls.token }}">
    <link rel="micropub" href="{{ site.author.urls.micropub }}">
    <link rel="microsub" href="{{ site.author.urls.microsub }}">
    <link rel="openid.delegate" href="{{ site.live_url }}" />
    <link rel="openid.server" href="{{ site.author.urls.openid }}" />
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "{{ site.live_url }}",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "{{ site.live_url }}/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>

    <link rel="icon" href="{{ 'favicon.ico' | relative_url }}" sizes="512x512">
    <link rel="mask-icon" href="{{ 'favicon.svg' | relative_url }}" color="#{{ site.color }}">
    <link rel="apple-touch-icon" href="{{ 'favicon-180.png' | relative_url }}">
    <link rel="apple-touch-icon-precomposed" href="{{ 'favicon-180.png' | relative_url }}">
    <link rel="msapplication-square310x310logo" href="{{ 'favicon-310.png' | relative_url }}">

    <link rel="author" href="{{ 'humans.txt' | relative_url }}">
    <link rel="manifest" href="{{ 'manifest.json' | relative_url }}">

    <meta name="author" content="{{ site.author.name }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
    <meta name="msapplication-starturl" content="{{ site.live_url }}">
    <meta name="description" content="{{ meta_lede }}">
    <meta name="theme-color" content="#{{ site.color }}">
    <meta name="msapplication-navbutton-color" content="#{{ site.color }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="supported-color-schemes" content="light dark">

    <meta http-equiv="cleartype" content="on">

    {% include assets/assets_social.liquid %}
    {% include assets/assets_head.liquid %}

</head>

<body{% if body_class_array != '' %} class="{{ body_class_array }}"{% endif %}>

    <a href="#content" hidden>Skip to main content</a>
