{%- comment -%}

  Consolidate markup for Shelf Items.

{%- endcomment -%}
{%- assign bookmark_of_link = page.bookmark_of.link | default: page.bookmark_of -%}
{%- assign bookmark_of_title = page.bookmark_of.title -%}
{%- assign like_of_link = page.like_of.link | default: page.like_of -%}
{%- assign like_of_title = page.like_of.title -%}
{%- assign listen_of_link = page.listen_of.link | default: page.listen_of -%}
{%- unless listen_of_link contains '://' or listen_of_link == null -%}
    {%- assign listen_of_link = 'https://song.link/album/s/' | append: listen_of_link -%}
{%- endunless -%}
{%- assign listen_of_title = page.listen_of.title -%}
{%- assign play_of_link = page.play_of.link | default: page.play_of -%}
{%- assign play_of_title = page.play_of.title -%}
{%- assign read_of_link = page.read_of.link | default: page.read_of -%}
{%- assign read_of_title = page.read_of.title -%}
{%- assign watch_of_link = page.watch_of.link | default: page.watch_of -%}
{%- assign watch_of_title = page.watch_of.title -%}
{%- assign link = bookmark_of_link | default: like_of_link | default: listen_of_link | default: play_of_link | default: read_of_link | default: watch_of_link | default: page.link -%}
{%- assign link_title = bookmark_of_title | default: like_of_title | default: listen_of_title | default: play_of_title | default: read_of_title | default: watch_of_title | default: page.link.title -%}
{%- unless link_title -%}
    {%- assign link_title = link | remove: 'http://' | remove: 'https://' | remove: 'www.' -%}
{%- endunless -%}
{%- if link contains 'amazon' -%}
    {%- assign link_title = page.title | append: ' on Amazon' -%}
{%- elsif link contains 'bandcamp' -%}
    {%- assign link_title = page.title | append: ' on Bandcamp' -%}
{%- elsif link contains 'soundcloud' -%}
    {%- assign link_title = page.title | append: ' on SoundCloud' -%}
{%- elsif link contains 'spotify' -%}
    {%- assign link_title = page.title | append: ' on Spotify' -%}
{%- elsif link contains 'untappd' -%}
    {%- assign link_title = page.title | append: ' on Untappd' -%}
{%- elsif link contains 'youtube' -%}
    {%- assign link_title = page.title | append: ' on YouTube' -%}
{%- elsif link contains 'song.link' -%}
    {%- assign link_title = link_title | append: ' on Songlink' -%}
{%- endif -%}
{%- assign link_author_name = page.bookmark_of.authors[0].name | default: null -%}
{%- assign link_author_url = page.bookmark_of.authors[0].url | default: null -%}
{%- if page.category == 'book' or page.category == 'game' -%}
    {%- assign review_status = 'unstarted' -%}
    {%- if page.finish -%}
        {%- assign review_status = 'finished' -%}
    {%- elsif page.date -%}
        {%- assign review_status = 'started' -%}
    {%- endif -%}
{%- endif -%}
<li role="listitem" class="h-review">
    {% if page.cover and page.category != 'beer' %}
        <a class="cover" href="{{ page.url }}" title="{{ link_title }}">
            {% include components/cover.liquid %}
        </a>
    {% endif %}
    <div class="h-cite{% if page.mf_property %}  p-{{ page.mf_property }}{% endif %}">
        <h2 class="delta">
            {% if page.category == 'beer' %}
                <a href="{{ page.url }}" class="u-url">
                    <cite class="p-name  p-summary">{{ page.title | strip_html }}</cite>
                </a>
            {% elsif page.category == 'bookmark' %}
                <data class="u-url" hidden aria-hidden="true">{{ page.url }}</data>
                <a href="{{ link }}" rel="external">
                    <cite class="p-name  p-summary">{{ page.title | strip_html }}</cite>
                </a>
            {% elsif page.category == 'like' %}
                <data class="u-url" hidden aria-hidden="true">{{ page.url }}</data>
                <a href="{{ link }}" rel="external">
                    <cite class="break-anywhere">Liked: {{ link_title }}</cite>
                </a>
            {% elsif page.category == 'tv' %}
                <a href="{{ page.url }}" class="u-url">
                    <cite class="p-name  p-summary">{{ page.title | strip_html }}<br>Season {{ page.season }}, Episode {{ page.episode }}</cite>
                </a>
            {% else %}
                <a href="{{ page.url }}" class="u-url">
                    <cite class="p-name  p-summary">{{ page.title | strip_html }}</cite>
                </a>
            {% endif %}
        </h2>
        <div>
            {% assign authors = page.authors | uniq %}
            {%- for author in authors -%}
                {%- assign author_name = author.name | default: author | strip -%}
                {%- assign author_map = site.data.people | where_exp: 'target', 'author_name == target.name' | first | default: null -%}
                {%- assign author_link = author_map.link.last | default: author_map.link | default: author.link.last | default: author.link | default: null -%}
                {% unless forloop.first %}, {% endunless %}
                {%- if author_link -%}
                    <a class="h-cite" href="{{ author_link | prepend: 'https://' | replace: 'https://http', 'http' }}" title="" rel="external">{{ author_name }}</a>
                {%- else -%}
                    <span class="h-cite">{{ author_name }}</span>
                {%- endif -%}
            {%- endfor -%}
            {% if page.date %}
                {% if page.category == 'beer' %}
                    <div>
                        <time class="date  date--relative  dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%d %B %Y' }}</time>
                    </div>
                {% elsif page.category == 'like' %}
                    <div>
                        <a href="{{ page.url }}"><time class="date  date--relative  dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%d %B %Y' }}</time></a>
                    </div>
                {% elsif page.release %}
                    <time class="date  dt-published" datetime="{{ page.release | date_to_xmlschema }}">({{ page.release | date: '%Y' }})</time>
                {% else %}
                    <time class="date  date--relative  dt-published" datetime="{{ page.date | date_to_xmlschema }}">({{ page.date | date: '%Y' }})</time>
                {% endif %}
            {% endif %}
        </div>
        {% if page.isbn %}
            <data class="p-uid" value="{{ page.isbn }}" hidden aria-hidden="true">{{ page.isbn }}</data>
        {% endif %}
        {% if page.rating and page.rating != 'Parti Pris' %}
            <data class="p-worst" hidden aria-hidden="true">0</data>
            <data class="p-best" hidden aria-hidden="true">5</data>
        {% endif %}
        {%- assign content = page.content | strip_newlines -%}
        {% if content != empty %}
            <details>
                {% if page.rating and page.rating == 'Parti Pris' %}
                    <summary><strong class="delta">Parti Pris</strong></summary>
                {% elsif page.rating %}
                    <summary><data class="p-rating  rating  delta" value="{{ page.rating }}"> </data></summary>
                {% else %}
                    <summary>Review</summary>
                {% endif %}
                <div class="e-content">{{ page.content | markdownify }}</div>
            </details>
        {% endif %}
        {% if content == empty %}
            {% if page.rating and page.rating == 'Parti Pris' %}
                <strong class="delta">Parti Pris</strong>
            {% elsif page.rating %}
                <data class="p-rating  rating  delta" value="{{ page.rating }}"> </data>
            {% elsif review_status == 'finished' %}
                <strong class="delta">Unrated</strong>
            {% endif %}
        {% endif %}
        {% if page.badges %}
            <data class="badges" value="{{ page.badges.size }}">{% include content/emoji.liquid emoji='ðŸ…' %} Earned {{ page.badges.size }} badge{% if page.badges.size > 1 %}s{% endif %}.</data>
        {% endif %}
        {% if page.category == 'book' or page.category == 'game' %}
            <strong{% if review_status == 'finished' %} hidden aria-hidden="true"{% endif %}><data class="p-status  p-read-status  p-x-read-status" value="{{ review_status }}">{% include_cached content/titleize.liquid title=review_status %}</data></strong>
        {% endif %}
        {% if page.category == 'book' and page.date %}
            <data class="p-start-date" value="{{ page.date | date: '%Y-%m-%d' }}" hidden aria-hidden="true">{{ page.date | date: '%Y-%m-%d' }}</data>
        {% endif %}
        {% if page.category == 'book' and page.finish %}
            <data class="p-end-date" value="{{ page.finish | date: '%Y-%m-%d' }}" hidden aria-hidden="true">{{ page.finish | date: '%Y-%m-%d' }}</data>
        {% endif %}
        {% if link and page.mf_property %}
            <data class="u-{{ page.mf_property }}" hidden aria-hidden="true">{{ link }}</data>
        {% endif %}
        {%- assign category_link = site.data.categories | where: 'category', page.category | first | map: 'type' -%}
        <data class="u-category" value="/{{ category_link }}" hidden aria-hidden="true">{{ page.category }}</data>
        <a class="u-author" href="/" hidden aria-hidden="true" tabindex="-1"></a>
    </div>
</li>
