{%- comment -%}

  Consolidate markup for Deck Items.

{%- endcomment -%}
{%- assign in_reply_to_link = page.in_reply_to.link | default: page.in_reply_to -%}
{%- assign in_reply_to_title = page.in_reply_to.title -%}
{%- assign bookmark_of_link = page.bookmark_of.link | default: page.bookmark_of -%}
{%- assign bookmark_of_title = page.bookmark_of.title -%}
{%- assign like_of_link = page.like_of.link | default: page.like_of -%}
{%- assign like_of_title = page.like_of.title -%}
{%- assign listen_of_link = page.listen_of.link | default: page.listen_of -%}
{%- unless listen_of_link contains '://' or listen_of_link == null -%}
    {%- assign listen_of_link = 'https://song.link/album/s/' | append: listen_of_link -%}
{%- endunless -%}
{%- assign listen_of_title = page.listen_of.title -%}
{%- assign read_of_link = page.read_of.link | default: page.read_of -%}
{%- assign read_of_title = page.read_of.title -%}
{%- assign watch_of_link = page.watch_of.link | default: page.watch_of -%}
{%- assign watch_of_title = page.watch_of.title -%}
{%- assign link = bookmark_of_link | default: like_of_link | default: listen_of_link | default: read_of_link | default: watch_of_link | default: page.link -%}
{%- assign link_title = bookmark_of_title | default: like_of_title | default: listen_of_title | default: read_of_title | default: watch_of_title | default: page.link.title -%}
{%- unless link_title -%}
    {%- assign link_title = link | remove: 'http://' | remove: 'https://' | remove: 'www.' -%}
{%- endunless -%}
{%- assign link_author_name = page.bookmark_of.authors[0].name | default: null -%}
{%- assign link_author_url = page.bookmark_of.authors[0].url | default: null -%}
{%- assign category_link = site.data.categories | where: 'category', page.category | first | map: 'type' -%}
{%- assign date_human = page.date | date_to_long_string -%}
{%- if include.relative_year == true -%}
    {%- assign year_today = site.time | date: '%Y' -%}
    {%- assign year_then = page.date | date: '%Y' -%}
    {%- assign date_human = year_today | minus: year_then | append: ' years ago' | replace: '1 years', '1 year' -%}
{%- endif -%}
<li role="listitem">
    <article class="{% unless include.strip_h == true %}h-entry{% endunless %}" role="article">
        {% if page.category == 'bookmark' or page.category == 'like' %}
            <data class="u-url" hidden aria-hidden="true">{{ page.url }}</data>
            <a href="{{ link }}" rel="external">
        {% else %}
            <a href="{{ page.url }}" class="u-url">
        {% endif %}
            <h3 class="delta  title{% unless page.titlefree %}  p-name{% endunless %}"{% if page.titlefree %} hidden aria-hidden="true"{% endif %}>
                {% if page.titlefree %}
                    {{ page.date | date: '%A, %d %B %Y' }}
                {% else %}
                    {{ page.title | strip_html }}
                {% endif %}
            </h3>
            <div class="lede">
                {% if in_reply_to_link %}
                    {%- assign mastodon_instance = null -%}
                    {%- assign mastodon_username = null -%}
                    {%- assign twitter_username = null -%}
                    {%- assign reply_target = null -%}
                    {%- assign page_map = site.posts | where_exp: 'post', 'in_reply_to_link contains post.slug' | first -%}
                    {%- if page_map -%}
                        {%- unless page_map.titlefree -%}
                            {%- assign reply_target = page_map.title -%}
                        {%- endunless -%}
                    {%- endif -%}
                    {%- for person in site.data.people -%}
                        {%- for person_mastodon in person.mastodon -%}
                            {%- assign mastodon_instance = person_mastodon | split: '@' | last -%}
                            {%- assign mastodon_username = person_mastodon | split: '@' | first -%}
                            {%- if in_reply_to_link contains mastodon_instance and in_reply_to_link contains mastodon_username -%}
                                {%- assign reply_target = person | map: 'name' | first | default: null -%}
                                {%- break -%}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endfor -%}
                    {%- unless reply_target -%}
                        {%- assign mastodon_instance = site.data.mastodon_instances | where_exp: 'instance', 'in_reply_to_link contains instance' | first | default: null -%}
                        {%- if mastodon_instance -%}
                            {%- if in_reply_to_link contains '/@' -%}
                                {%- assign mastodon_username = in_reply_to_link | split: '/@' | last | split: '/' | first | default: null -%}
                            {%- elsif in_reply_to_link contains '/users/' -%}
                                {%- assign mastodon_username = in_reply_to_link | split: '/users/' | last | split: '/' | first | default: null -%}
                            {%- endif -%}
                        {%- elsif in_reply_to_link contains 'twitter.com' -%}
                            {%- assign twitter_username = in_reply_to_link | split: '/status/' | first | split: 'twitter.com/' | last | default: null -%}
                            {%- for person in site.data.people -%}
                                {%- for person_twitter in person.twitter -%}
                                    {%- if person_twitter == twitter_username -%}
                                        {%- assign reply_target = person | map: 'name' | first -%}
                                        {%- break -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            {%- endfor -%}
                        {%- else -%}
                            {%- assign stored_person_link = '' -%}
                            {%- for person in site.data.people -%}
                                {%- for person_link in person.link -%}
                                    {%- if in_reply_to_link contains person_link and person_link.size > stored_person_link.size -%}
                                        {%- assign stored_person_link = 'https://' | append: person_link -%}
                                        {%- assign reply_target = person | map: 'name' | first -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            {%- endfor -%}
                        {%- endif -%}
                    {%- endunless -%}
                    {%- if reply_target -%}
                        {% assign reply = reply_target %}
                    {%- elsif mastodon_instance -%}
                        {% if mastodon_username %}
                            {% assign reply = '@' | append: mastodon_username | append: '@' | append: mastodon_instance %}
                        {% else %}
                            {% assign reply = 'a Toot' %}
                        {% endif %}
                    {%- elsif in_reply_to_link contains 'twitter.com' -%}
                        {% if twitter_username %}
                            {% assign reply = '@' | append: twitter_username %}
                        {% else %}
                            {% assign reply = 'a Tweet' %}
                        {% endif %}
                    {%- elsif in_reply_to_title != null -%}
                        {% assign reply = in_reply_to_title %}
                    {%- else -%}
                        {% assign reply = in_reply_to_link %}
                    {%- endif -%}
                    {%- if in_reply_to_title != null and in_reply_to_title != in_reply_to_link and reply != in_reply_to_title and reply != in_reply_to_link -%}
                        {% assign reply = reply | prepend: ' by ' | prepend: in_reply_to_title %}
                    {%- endif -%}
                    {% include content/emoji.liquid emoji='↩️' %}
                    In reply to
                    <data class="{% unless include.strip_h == true %}h-cite{% endunless %}  u-in-reply-to" value="{{ stored_person_link | default: in_reply_to_link }}">{{ reply }}</data>
                    <br>
                {% endif %}
                {% if page.emoji %}
                    {% include content/emoji.liquid emoji=page.emoji %}
                {% endif %}
                {% if page.rsvp or page.tags contains 'rsvp' %}
                    {% include content/emoji.liquid emoji='📅' %}
                {% endif %}
                {% if page.banner or page.banner_mobile or page.photo or page.cover or page.content contains '<img' %}
                    {% include content/emoji.liquid emoji='🖼️' %}
                {% endif %}
                {% if page.reacji %}
                    <span class="emoji  p-summary  e-content">{{ page.reacji }}</span>
                {% elsif page.lede %}
                    <span class="p-summary">{{ page.lede | replace: "'", "’" | strip_html | truncatewords: 20 | replace: ',...', '...' | replace: '....', '...' | strip }}</span>
                    <span class="e-content" hidden aria-hidden="true">{{ page.lede | replace: "'", "’" | strip_html | strip }}</span>
                {% elsif page.category == 'like' %}
                    <span class="p-summary  e-content"><cite class="break-anywhere">Liked: {{ link_title }}</cite></span>
                {% elsif page.category == 'music' %}
                    <span class="p-summary  e-content">Album <span>Review</span></span>
                {% elsif page.category == 'note' %}
                    {%- assign content = page.content | markdownify | strip_html | replace: '&lt;figcaption&gt;', '' | replace: '&lt;/figcaption&gt;', '' | replace: '&lt;p&gt;', '' | replace: '&lt;/p&gt;', '' | strip -%}
                    <span class="p-summary">{{ content | truncatewords: 30 | replace: ',...', '...' | replace: '....', '...' | strip }}</span>
                    <span class="e-content" hidden aria-hidden="true">{{ content }}</span>
                {% else %}
                    <span class="p-summary  p-content">{% include content/capitalizer.liquid input=page.category %}{% if page.layout == 'review' %} <span>Review</span>{% elsif page.category == 'code' %} Snippet{% endif %}</span>
                {% endif %}
                {% if page.layout == 'review' and page.authors %}
                    by
                    {%- assign authors = page.authors | uniq -%}
                    {%- for author in authors -%}
                        {%- assign author_name = author.name | default: author | strip -%}
                        {%- assign author_map = site.data.people | where_exp: 'target', 'author_name == target.name' | first | default: null -%}
                        {% unless forloop.first %}, {% endunless %}
                        <span class="{% unless include.strip_h == true %}h-cite{% endunless %}">{{ author_name }}</span>
                    {%- endfor -%}
                {% endif %}
                {% if page.checkin %}
                    <data class="checkin">
                        {% include content/emoji.liquid emoji='📍' %}
                        at <span class="p-location">{{ page.checkin.name | default: page.checkin }}</span>
                    </data>
                {% endif %}
                {% if page.badges %}
                    <data class="badges" value="{{ page.badges.size }}">{% include content/emoji.liquid emoji='🏅' %} Earned {{ page.badges.size }} badge{% if page.badges.size > 1 %}s{% endif %}.</data>
                {% endif %}
                {% if page.rating and page.rating == 'Parti Pris' %}
                    <strong class="delta">Parti Pris</strong>
                {% elsif page.rating %}
                    <div>
                        <data class="p-rating  rating  delta" value="{{ page.rating }}" title="{{ page.rating }}/5"> </data>
                        <data class="p-worst" hidden aria-hidden="true">0</data>
                        <data class="p-best" hidden aria-hidden="true">5</data>
                    </div>
                {% endif %}
            </div>
            {% if page.rsvp.date %}
                {%- if page.rsvp.finish -%}
                    {%- assign check_day = page.rsvp.date | date: '%d' -%}
                    {%- assign check_month = page.rsvp.date | date: '%m' -%}
                    {%- assign check_year = page.rsvp.date | date: '%Y' -%}
                    {%- assign finish_day = page.rsvp.finish | date: '%d' -%}
                    {%- assign finish_month = page.rsvp.finish | date: '%m' -%}
                    {%- assign finish_year = page.rsvp.finish | date: '%Y' -%}
                    <time class="date  date--range" datetime="{{ page.rsvp.date | date_to_xmlschema }}">
                        {{ page.rsvp.date | date_to_long_string }}
                        {% if finish_year > check_year %}
                            – {{ page.rsvp.finish | date_to_long_string }}
                        {% elsif finish_year == check_year and finish_month > check_month %}
                            – {{ page.rsvp.finish | date_to_long_string }}
                        {% elsif finish_year == check_year and finish_month == check_month and finish_day > check_day %}
                            – {{ page.rsvp.finish | date_to_long_string }}
                        {% endif %}
                    </time>
                    <time class="date  dt-published" datetime="{{ page.date | date_to_xmlschema }}" hidden>{{ date_human }}</time>
                {%- else -%}
                    <time class="date  date--relative  date--published" datetime="{{ page.rsvp.date | date_to_xmlschema }}">
                        {{ page.rsvp.date | date_to_long_string }}
                    </time>
                {%- endif -%}
            {% elsif page.date and include.relative_year %}
                <time class="date  dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ date_human }}</time>
            {% elsif page.date %}
                <time class="date  date--relative  dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ date_human }}</time>
            {% endif %}
        </a>
        {% if page.mf_property and link %}
            <data class="u-{{ page.mf_property }}" hidden aria-hidden="true">{{ link }}</data>
        {% endif %}
        {% if page.category %}
            <data class="u-category" value="/{{ category_link }}" hidden aria-hidden="true">{{ page.category }}</data>
        {% endif %}
        <a class="u-author" href="/" hidden aria-hidden="true" tabindex="-1"></a>
    </article>
</li>
