{%- assign day = site.time | date: '%d' -%}
{%- assign month = site.time | date: '%m' -%}
{%- assign year = site.time | date: '%Y' -%}
{%- if page.rsvp.date -%}
    {%- assign check_day = page.rsvp.date | date: '%d' -%}
    {%- assign check_month = page.rsvp.date | date: '%m' -%}
    {%- assign check_year = page.rsvp.date | date: '%Y' -%}
{%- endif -%}
<div class="meta">
    <input type="checkbox" class="js-meta-toggle" id="meta-toggle" aria-hidden="true" hidden />
    <div class="published-date">
        {% include content/emoji.liquid emoji='🗓' %}
        {% if page.mf_property contains 'bookmark-of' %}
            <span>bookmarked on</span>
        {% elsif page.mf_property contains 'like-of' %}
            <span>liked on</span>
        {% elsif page.mf_property contains 'listen-of' %}
            <span>listened on</span>
        {% elsif page.mf_property contains 'played-of' %}
            <span>played on</span>
        {% elsif page.mf_property contains 'read-of' %}
            <span>started reading on</span>
        {% elsif page.mf_property contains 'watch-of' %}
            <span>watched on</span>
        {% elsif page.mf_property contains 'pk-drank' %}
            <span>drank on</span>
        {% elsif page.mf_property contains 'pk-ate' %}
            <span>ate on</span>
        {% elsif page.mf_root == 'recipe' %}
            <span>cooked on</span>
        {% elsif page.mf_root == 'review' %}
            <span>reviewed on</span>
        {% else %}
            <span>published on</span>
        {% endif %}
        <a class="u-uid  u-url" href="{{ canonical_local }}" title="Permalink: {{ canonical_local }}">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
        </a>
    </div>
    {% if page.sitemap.lastmod %}
        <div class="updated-date">
            {% include content/emoji.liquid emoji='🗓' %}
            <span>updated on</span>
            <time class="dt-updated" datetime="{{ page.sitemap.lastmod | date_to_xmlschema }}">{{ page.sitemap.lastmod | date_to_long_string }}</time>
        </div>
    {% endif %}
    {% if page.release %}
        <div class="released-date">
            {% include content/emoji.liquid emoji='🗓' %}
            <span>released on</span>
            <time class="dt-released" datetime="{{ page.released | date_to_xmlschema }}">{{ page.release | date_to_long_string }}</time>
        </div>
    {% endif %}
    {% if page.authors %}
        <div class="authors">
            {% if page.category == 'beer' %}
                {% include content/emoji.liquid emoji='🍺' %}
                <span>brewed by</span>
            {% elsif page.category == 'book' %}
                {% include content/emoji.liquid emoji='✍️' %}
                <span>written by</span>
            {% elsif page.category == 'movie' or page.category == 'tv' %}
                {% include content/emoji.liquid emoji='🎥' %}
                <span>produced by</span>
            {% elsif page.category == 'music' %}
                {% include content/emoji.liquid emoji='🎼' %}
                <span>by</span>
            {% elsif page.category == 'recipe' %}
                {% include content/emoji.liquid emoji='📝' %}
                <span>sourced from</span>
            {% else %}
                {% include content/emoji.liquid emoji='✍️' %}
                <span>by</span>
            {% endif %}
            {% assign authors = page.authors | uniq %}
            {% for author in authors %}
                {% unless forloop.first %}<span>, </span>{% endunless %}
                {% assign author_name = author.name | default: author | strip %}
                {% assign author_map = site.data.people | where_exp: 'target', 'author_name == target.name' | first | default: null %}
                {% assign author_link = author_map.link.last | default: author_map.link | default: author.link.last | default: author.link | prepend: 'https://' | replace: 'https://http', 'http' | default: null %}
                {% if author_link %}
                    <a class="h-cite" href="{{ author_link }}" title="{{ author_name }}" rel="external">{{ author_name }}</a>
                {% else %}
                    <strong class="h-cite">{{ author_name }}</strong>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if page.audience %}
        <div class="audience">
            {% include content/emoji.liquid emoji='📣' %}
            <span>target audience</span>
            {%- assign audiences = page.audience | uniq -%}
            {% for audience in audiences %}
                {% unless forloop.first %}<span>, </span>{% endunless %}
                {%- assign audience_name = audience.name | default: audience | strip -%}
                {%- assign audience_map = site.data.people | where_exp: 'target', 'audience_name == target.name' | first | default: null -%}
                {%- assign audience_link = audience.link | default: audience_map.link | default: null -%}
                {% if audience_link %}
                    <a class="h-card  u-audience" href="{{ audience_link }}" title="{{ audience_name }}" rel="external">{{ audience_name }}</a>
                {% else %}
                    <strong class="h-card  p-audience">{{ audience_name }}</strong>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if in_reply_to_link %}
        <div class="in-reply-to">
            {%- assign mastodon_instance = null -%}
            {%- assign mastodon_username = null -%}
            {%- assign twitter_username = null -%}
            {%- assign reply_target = null -%}
            {%- assign page_map = site.posts | where_exp: 'post', 'in_reply_to_link contains post.slug' | first -%}
            {%- if page_map -%}
                {%- unless page_map.titlefree -%}
                    {%- assign reply_target = page_map.title -%}
                {%- endunless -%}
            {%- endif -%}
            {%- for person in site.data.people -%}
                {%- for person_mastodon in person.mastodon -%}
                    {%- assign mastodon_instance = person_mastodon | split: '@' | last -%}
                    {%- assign mastodon_username = person_mastodon | split: '@' | first -%}
                    {%- if in_reply_to_link contains mastodon_instance and in_reply_to_link contains mastodon_username -%}
                        {%- assign reply_target = person | map: 'name' | first | default: null -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endfor -%}
            {%- endfor -%}
            {%- unless reply_target -%}
                {%- assign mastodon_instance = site.data.mastodon_instances | where_exp: 'instance', 'in_reply_to_link contains instance' | first | default: null -%}
                {%- if mastodon_instance -%}
                    {%- if in_reply_to_link contains '/@' -%}
                        {%- assign mastodon_username = in_reply_to_link | split: '/@' | last | split: '/' | first | default: null -%}
                    {%- elsif in_reply_to_link contains '/users/' -%}
                        {%- assign mastodon_username = in_reply_to_link | split: '/users/' | last | split: '/' | first | default: null -%}
                    {%- endif -%}
                {%- elsif in_reply_to_link contains 'twitter.com' -%}
                    {%- assign twitter_username = in_reply_to_link | split: '/status/' | first | split: 'twitter.com/' | last | default: null -%}
                    {%- for person in site.data.people -%}
                        {%- for person_twitter in person.twitter -%}
                            {%- if person_twitter == twitter_username -%}
                                {%- assign reply_target = person | map: 'name' | first -%}
                                {%- break -%}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endfor -%}
                {%- else -%}
                    {%- assign stored_person_link = '' -%}
                    {%- for person in site.data.people -%}
                        {%- for person_link in person.link -%}
                            {%- if in_reply_to_link contains person_link and person_link.size > stored_person_link.size -%}
                                {%- assign stored_person_link = 'https://' | append: person_link -%}
                                {%- assign reply_target = person | map: 'name' | first -%}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endfor -%}
                {%- endif -%}
            {%- endunless -%}
            {%- if reply_target -%}
                {% assign reply = reply_target %}
            {%- elsif mastodon_instance -%}
                {% if mastodon_username %}
                    {% assign reply = '@' | append: mastodon_username | append: '@' | append: mastodon_instance %}
                {% else %}
                    {% assign reply = 'a Toot' %}
                {% endif %}
            {%- elsif in_reply_to_link contains 'twitter.com' -%}
                {% if twitter_username %}
                    {% assign reply = '@' | append: twitter_username %}
                {% else %}
                    {% assign reply = 'a Tweet' %}
                {% endif %}
            {%- elsif in_reply_to_title != null -%}
                {% assign reply = in_reply_to_title %}
            {%- else -%}
                {% assign reply = in_reply_to_link %}
            {%- endif -%}
            {%- if in_reply_to_title != null and in_reply_to_title != in_reply_to_link and reply != in_reply_to_title and reply != in_reply_to_link -%}
                {% assign reply = reply | prepend: ' by ' | prepend: in_reply_to_title %}
            {%- endif -%}
            {% if page.rsvp %}
                {%- assign rsvp_value = page.rsvp.value | default: page.rsvp -%}
                <data class="p-rsvp  strong" value="{{ rsvp_value }}">
                    {% if rsvp_value == "yes" %}
                        {% if page.rsvp.date %}
                            {% if check_year > year %}
                                {% include content/emoji.liquid emoji='👋' %}
                                Going
                            {% elsif check_year == year and check_month > month %}
                                {% include content/emoji.liquid emoji='👋' %}
                                Going
                            {% elsif check_year == year and check_month == month and check_day > day %}
                                {% include content/emoji.liquid emoji='👋' %}
                                Going
                            {% else %}
                                {% include content/emoji.liquid emoji='✅' %}
                                Went
                            {% endif %}
                        {% else %}
                            {% include content/emoji.liquid emoji='👋' %}
                            Going
                        {% endif %}
                    {% elsif rsvp_value == "maybe" %}
                        {% include content/emoji.liquid emoji='🤔' %} Might go
                    {% elsif rsvp_value == "interested" %}
                        {% include content/emoji.liquid emoji='😯' %} Interested in going
                    {% else %}
                        {% include content/emoji.liquid emoji='😔' %}
                        {% if page.rsvp.date %}
                            {% if check_year > year %}
                                Not going
                            {% elsif check_year == year and check_month > month %}
                                Not going
                            {% elsif check_year == year and check_month == month and check_day > day %}
                                Not going
                            {% else %}
                                Didn’t go
                            {% endif %}
                        {% else %}
                            Not going
                        {% endif %}
                    {% endif %}
                </data>
                <span>to</span>
            {% else %}
                {% include content/emoji.liquid emoji='↪️' %}
                <span>in reply to</span>
            {% endif %}
            <a class="h-cite  u-in-reply-to" href="{{ in_reply_to_link }}">
                {{ reply }}
            </a>
        </div>
    {% endif %}
    {% if page.rsvp.date %}
        <div class="date">
            {% include content/emoji.liquid emoji='🗓' %}
            {% if check_year > year %}
                <span>taking place on</span>
            {% elsif check_year == year and check_month > month %}
                <span>taking place on</span>
            {% elsif check_year == year and check_month == month and check_day > day %}
                <span>taking place on</span>
            {% else %}
                <span>took place on</span>
            {% endif %}
            <time datetime="{{ page.rsvp.date | date_to_xmlschema }}{% if page.rsvp.finish %}-{{ page.rsvp.finish | date_to_xmlschema }}{% endif %}">
                {{ page.rsvp.date | date_to_long_string }}, {{ page.rsvp.date | date: '%R' }}
                {% if page.rsvp.finish %}
                    {%- assign date_timezone = page.rsvp.date | date: '%z' -%}
                    {%- assign finish_day = page.rsvp.finish | date: '%d' -%}
                    {%- assign finish_month = page.rsvp.finish | date: '%m' -%}
                    {%- assign finish_year = page.rsvp.finish | date: '%Y' -%}
                    {%- assign finish_timezone = page.rsvp.finish | date: '%z' -%}
                    {% if date_timezone != finish_timezone %}
                        {{ date_timezone | replace: '+0000', 'GMT' | replace: '+0100', 'BST' }}
                    {% endif %}
                    –
                    {% if finish_year > check_year %}
                        {{ page.rsvp.finish | date_to_long_string }},
                    {% elsif finish_year == check_year and finish_month > check_month %}
                        {{ page.rsvp.finish | date_to_long_string }},
                    {% elsif finish_year == check_year and finish_month == check_month and finish_day > check_day %}
                        {{ page.rsvp.finish | date_to_long_string }},
                    {% endif %}
                    {{ page.rsvp.finish | date: '%R %z' | replace: '+0000', 'GMT' | replace: '+0100', 'BST' }}
                {% endif %}
            </time>
        </div>
    {% endif %}
    {% if page.category == 'article' %}
        {%- assign words = site.emptyArray -%}
        {%- assign open_figure_splits = content | split: '<figure class="highlight">' -%}
        {%- assign words = words | push: open_figure_splits[0] -%}
        {%- assign open_figure_splits = open_figure_splits | shift -%}
        {%- for open_figure_split in open_figure_splits -%}
            {%- assign close_figure_split = open_figure_split | split: '</figure>' | last -%}
            {%- assign words = words | push: close_figure_split -%}
        {%- endfor -%}
        {%- assign words = words | join: ' ' | number_of_words -%}
        <div class="reading-length">
            {% include content/emoji.liquid emoji='📚' %}
            <span>reading length</span>
            <strong>~{{ words | divided_by: 50 | round | times: 50 }} words</strong>
            {% if words < 250 %}
                <strong hidden aria-hidden="true">~1 min</strong>
            {% else %}
                <strong hidden aria-hidden="true">~{{ words | divided_by: 250 }} mins</strong>
            {% endif %}
        </div>
    {% endif %}
    {% if page.category == 'recipe' %}
        {% if page.prep_time %}
            <div class="prep-time">
                {% include content/emoji.liquid emoji='🕝' %}
                <span>preparation time</span>
                <strong class="p-prep-time">{{ page.prep_time }}</strong>
            </div>
        {% endif %}
        {% if page.cooking_time %}
            <div class="cooking-time">
                {% include content/emoji.liquid emoji='⏲' %}
                <span>cooking time</span>
                <strong class="p-cooking-time">{{ page.cooking_time }}</strong>
            </div>
        {% endif %}
        {% if page.serves %}
            <div class="serves">
                {% include content/emoji.liquid emoji='🍛' %}
                <span>serves</span>
                <strong class="p-serves">{{ page.serves }}</strong>
            </div>
        {% endif %}
    {% endif %}
    {%- assign checkin = null -%}
    {% if page.checkin %}
        {%- assign checkin = site.data.places | where: 'name', page.checkin.name | first | default: page.checkin -%}
        {%- if page.checkin.lat and page.checkin.long -%}
            {%- assign lat = page.checkin.lat | round: 3 -%}
            {%- assign long = page.checkin.long | round: 3 -%}
            {%- assign checkin = site.data.places | where_exp: 'target', 'target.lat == lat' | where_exp: 'target', 'target.long == long' | first | default: checkin -%}
        {%- endif -%}
        <!-- CHECKIN {{ checkin | inspect }} -->
        <div class="checkin">
            {% if page.category == 'beer' %}
                {% include content/emoji.liquid emoji='🍻' %}
                <span>drank at</span>
            {% elsif page.category == 'talk' %}
                {% include content/emoji.liquid emoji='🗣' %}
                <span>given at</span>
            {% else %}
                {% include content/emoji.liquid emoji='📍' %}
                <span>at</span>
            {% endif %}
            {% if checkin.link %}
                <a class="u-location" rel="external" href="{{ checkin.link }}">{{ checkin.name }}</a>
            {% elsif checkin.lat and checkin.long %}
                <a class="u-location" rel="external" href="http://www.openstreetmap.org/#map=13/{{ checkin.lat }}/{{ checkin.long }}">{{ checkin.name }}</a>
            {% else %}
                <strong class="p-location">{{ checkin.name | default: checkin }}</strong>
            {% endif %}
        </div>
    {% endif %}
    {% if page.weather %}
        <div class="checkin-weather">
            {%- assign summary = page.weather.summary | downcase -%}
            {% if summary contains 'sun' and summary contains 'cloud' or summary contains 'rain' %}
                {% include content/emoji.liquid emoji='🌦' %}
            {% elsif summary contains 'rain' and summary contains 'thunder' or summary contains 'lightning' %}
                {% include content/emoji.liquid emoji='⛈' %}
            {% elsif summary contains 'thunder' or summary contains 'lightning' %}
                {% include content/emoji.liquid emoji='🌩' %}
            {% elsif summary contains 'snow' %}
                {% include content/emoji.liquid emoji='❄️' %}
            {% elsif summary contains 'rain' %}
                {% include content/emoji.liquid emoji='🌧' %}
            {% elsif summary contains 'fog' %}
                {% include content/emoji.liquid emoji='🌫' %}
            {% elsif summary contains 'wind' %}
                {% include content/emoji.liquid emoji='💨' %}
            {% elsif summary contains 'cloud' %}
                {% include content/emoji.liquid emoji='🌥' %}
            {% elsif summary contains 'sun' or summary contains 'clear' %}
                {% include content/emoji.liquid emoji='🌞' %}
            {% elsif summary contains 'moon' and summary contains 'full' %}
                {% include content/emoji.liquid emoji='🌝' %}
            {% elsif summary contains 'moon' and summary contains 'new' %}
                {% include content/emoji.liquid emoji='🌚' %}
            {% elsif summary contains 'moon' and summary contains 'crescent' and summary contains 'waxing' %}
                {% include content/emoji.liquid emoji='🌒' %}
            {% elsif summary contains 'moon' and summary contains 'crescent' and summary contains 'waning' %}
                {% include content/emoji.liquid emoji='🌘' %}
            {% elsif summary contains 'moon' and summary contains 'quarter' and summary contains 'first' %}
                {% include content/emoji.liquid emoji='🌛' %}
            {% elsif summary contains 'moon' and summary contains 'quarter' and summary contains 'last' %}
                {% include content/emoji.liquid emoji='🌜' %}
            {% elsif summary contains 'moon' and summary contains 'gibbous' and summary contains 'waxing' %}
                {% include content/emoji.liquid emoji='🌔' %}
            {% elsif summary contains 'moon' and summary contains 'gibbous' and summary contains 'waning' %}
                {% include content/emoji.liquid emoji='🌖' %}
            {% else %}
                {% include content/emoji.liquid emoji='⛅️' %}
            {% endif %}
            <span>weather</span>
            <strong class="p-weather">
                {% if page.weather.summary %}
                    {{ page.weather.summary }}
                {% endif %}
                {% if page.weather.temperature %}
                    {% if page.weather.summary %}and{% endif %}
                    {{ page.weather.temperature | split: '.' | first | replace: '-0', '0' | append: '°C' }}
                {% endif %}
            </strong>
        </div>
    {% endif %}
    {% if page.rating %}
        <div class="checkin-rating">
            {% include content/emoji.liquid emoji='✨' %}
            {% if page.rating == 'Parti Pris' %}
                <strong class="delta">Parti Pris</strong>
            {% else %}
                <span>I rate it</span>
                <data class="p-rating  rating  delta" value="{{ page.rating }}" title="{{ page.rating }}/5"> </data>
                <data class="p-worst" hidden aria-hidden="true">0</data>
                <data class="p-best" hidden aria-hidden="true">5</data>
            {% endif %}
        </div>
    {% endif %}
    {% if page.badges %}
        <div class="badges">
            {% include content/emoji.liquid emoji='🏆' %}
            <span>earning {{ page.badges.size }} badge{% if page.badges.size > 1 %}s{% endif %}</span>
            {% for badge in page.badges %}
                {% if badge.name and badge.id %}
                    {% unless forloop.first %}<span>, </span>{% endunless %}
                    <a rel="external" href="{{ site.author.urls.untappd | append: 'badges/' | append: badge.id }}">{{ badge.name | replace: '(', '<small>(' | replace: ')', ')</small>' }}</a>
                {% else %}
                    {% unless forloop.first %}<span>, </span>{% endunless %}
                    <strong>{{ badge.name | default: badge | replace: '(', '<small>(' | replace: ')', ')</small>' }}</strong>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if page.tags.size > 0 %}
        {% assign tags_sorted = page.tags | sort %}
        <div class="tags">
            {% include content/emoji.liquid emoji='🏷' %}
            <span>tagged under</span>
            {% for tag in tags_sorted %}
                {% unless forloop.first %}<span>, </span>{% endunless %}
                <a class="p-category" href="/tags/#{{ tag | slugify }}" rel="tag">{% include content/capitalizer.liquid input=tag %}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% if page.category == 'code' and page.codepen_featured == true %}
        <div class="featured">
            {% include content/emoji.liquid emoji='✨️' %}
            <span>featured on</span>
            <a rel="external" href="https://codepen.io/collection/hfqlg">the CodePen Homepage</a>
        </div>
    {% endif %}
    {% assign syndications = page.syndicate_to | default: page.syndicate-to | default: page.mf-syndicate-to | default: syndicate_to | default: null %}
    {% if syndications or page.codepen_slug or page.speakerdeck_slug or page.vimeo_slug or page.youtube_slug %}
        <div class="syndication">
            {% include content/emoji.liquid emoji='⤴️' %}
            <span>also on</span>
            {% for syndication in syndications %}
                {% unless forloop.first %}<span>, </span>{% endunless %}
                {%- assign syndication_mastodon_instance = site.data.mastodon_instances | where_exp: 'instance', 'syndication contains instance' | first | default: null -%}
                {% if syndication contains 'codepen.io' %}
                    {%- assign syndication_slug = syndication | split: '/' | last -%}
                    <a class="u-syndication" rel="syndication" href="{{ site.author.urls.codepen }}/pen/{{ syndication_slug }}">CodePen</a>
                    <small class="strong">
                        <span>(</span>
                        <a href="{{ site.author.urls.codepen }}/details/{{ syndication_slug }}" rel="external">Details</a>,
                        <a href="{{ site.author.urls.codepen }}/full/{{ syndication_slug }}" rel="external">Full</a>
                        <span>)</span>
                    </small>
                {% elsif syndication contains 'dev.to' %}
                    <a class="u-syndication" rel="syndication" href="{{ syndication }}">DEV Community</a>
                    <small class="strong">
                        <span>(</span>
                        <a href="{{ syndication }}#new_comment" rel="external">Comment</a>
                        <span>)</span>
                    </small>
                {% elsif syndication contains 'gist.github.com' %}
                    <a class="u-syndication" rel="syndication" href="{{ syndication }}">GitHub Gist</a>
                {% elsif syndication contains 'github.com' or syndication contains 'github.io' %}
                    <a class="u-syndication" rel="syndication" href="{{ syndication }}">GitHub</a>
                {% elsif syndication contains 'news.indieweb.org' %}
                    <a class="u-syndication" rel="syndication" href="{{ syndication }}">IndieNews</a>
                {% elsif syndication_mastodon_instance %}
                    <a class="u-syndication" rel="syndication" href="{{ syndication }}">Mastodon</a>
                    <small class="strong">
                        <span>(</span>
                        <a rel="external" href="https://{{ syndication_mastodon_instance }}/interact/{{ syndication | split: '/' | last }}">Interact</a>
                        <span>)</span>
                    </small>
                {% elsif syndication contains 'song.link' %}
                    <a class="u-syndication" rel="syndication" href="{{ syndication }}">Songlink</a>
                {% elsif syndication contains 'twitter.com' %}
                    <a class="u-syndication" rel="syndication" href="{{ syndication }}">Twitter</a>
                    <small class="strong">
                        <span>(</span>
                        <a rel="external" href="https://twitter.com/intent/like?tweet_id={{ syndication | split: '/' | last }}">Like</a>,
                        <a rel="external" href="https://twitter.com/intent/tweet?in_reply_to={{ syndication | split: '/' | last }}">Reply</a>,
                        <a rel="external" href="https://twitter.com/intent/retweet?tweet_id={{ syndication | split: '/' | last }}">Retweet</a>
                        <span>)</span>
                    </small>
                {% elsif syndication contains 'untappd.com' %}
                    <a class="u-syndication" rel="syndication" href="{{ syndication }}">Untappd</a>
                    <small class="strong">
                        <span>(</span>
                        <a rel="external" href="{{ syndication }}#commentBox">Comment</a>
                        <span>)</span>
                    </small>
                {% endif %}
            {% endfor %}
            {%- assign first_syndication = true -%}
            {% if page.codepen_slug %}
                {% if first_syndication %}
                    {% assign first_syndication = false %}
                {% else %}
                    <span>, </span>
                {% endif %}
                <a class="u-syndication" rel="syndication" href="{{ site.author.urls.codepen }}/pen/{{ page.codepen_slug }}">CodePen</a>
                <small class="strong">
                    <span>(</span>
                    <a href="{{ site.author.urls.codepen }}/details/{{ page.codepen_slug }}">Details</a>,
                    <a href="{{ site.author.urls.codepen }}/full/{{ page.codepen_slug }}">Full</a>
                    <span>)</span>
                </small>
            {% endif %}
            {% if page.speakerdeck_slug %}
                {% if first_syndication %}
                    {% assign first_syndication = false %}
                {% else %}
                    <span>, </span>
                {% endif %}
                <a class="u-syndication" rel="syndication" href="{{ page.speakerdeck_slug | prepend: '/' | prepend: site.author.urls.speakerdeck }}">Speaker Deck</a>
            {% endif %}
            {% if page.vimeo_slug %}
                {% if first_syndication %}
                    {% assign first_syndication = false %}
                {% else %}
                    <span>, </span>
                {% endif %}
                <a class="u-syndication" rel="syndication" href="{{ page.vimeo_slug | prepend: 'https://vimeo.com/' }}">Vimeo</a>
            {% endif %}
            {% if page.youtube_slug %}
                {% if first_syndication %}
                    {% assign first_syndication = false %}
                {% else %}
                    <span>, </span>
                {% endif %}
                <a class="u-syndication" rel="syndication" href="{{ page.youtube_slug | prepend: 'https://www.youtube.com/watch?v=' }}">YouTube</a>
            {% endif %}
        </div>
    {% endif %}
    {% if page.posting_method %}
        {%- assign posting_method_by_link = site.data.posting_methods | where_exp: 'target', 'page.posting_method contains target.link' | first | map: 'name' | first | default: null -%}
        <div class="posting-method">
            {% include content/emoji.liquid emoji='✍️' %}
            <span>posted using</span>
            {% if page.posting_method contains '://' %}
                <a href="{{ page.posting_method }}" rel="external">{{ posting_method_by_link | default: page.posting_method | replace: 'www.', '' }}</a>
            {% else %}
                <strong>{{ posting_method_by_link | default: page.posting_method }}</strong>
            {% endif %}
        </div>
    {% endif %}
    {% if page.prefix %}
        {%- assign posts_to_check = site.posts | where: 'category', page.category -%}
        {%- capture shorturl -%}
            {{ page.prefix }}
            {%- assign n = page.date | date: '%s' | divided_by: 86400 -%}
            {%- assign s = '' -%}
            {%- assign m = '0123456789ABCDEFGHJKLMNPQRSTUVWXYZ_abcdefghijkmnopqrstuvwxyz' | split: '' -%}
            {%- for i in (1..9999) -%}
                {%- assign d = n | modulo: 60 -%}
                {%- assign s = s | prepend: m[d] -%}
                {%- assign n = n | minus: d | divided_by: 60 -%}
                {%- if n <= 0 -%}
                    {%- break -%}
                {%- endif -%}
            {%- endfor -%}{{ s }}
        {%- endcapture -%}
        {%- assign page_date = page.date | date: '%Y-%m-%d' -%}
        {%- assign filtered_posts = site.emptyArray -%}
        {%- for check in posts_to_check reversed -%}
            {% assign check_date = check.date | date: '%Y-%m-%d' %}
            {% if check_date == page_date %}
                {% assign filtered_posts = filtered_posts | push: check %}
            {% endif %}
        {%- endfor -%}
        {%- for check in filtered_posts -%}
            {% if check.title == page.title %}
                {% assign shorturl = shorturl | append: forloop.index %}
                {% break %}
            {% endif %}
        {%- endfor -%}
        <div class="shorturl">
            {% include content/emoji.liquid emoji='🔗' %}
            <span>shorturl</span>
            <a rel="self" href="{{ site.shorturl | append: '/' | append: shorturl }}">{{ site.shorturl | remove: 'http://' | remove: 'https://' | append: '/' | append: shorturl }}</a>
        </div>
    {% endif %}
    {%- assign category_link = site.data.categories | where: 'category', page.category | first | map: 'type' -%}
    <data class="u-category" value="/{{ category_link }}" hidden aria-hidden="true">{{ page.category }}</data>
    <a href="https://fed.brid.gy" hidden aria-hidden="true"></a>
    <label for="meta-toggle" role="button" class="delta" title="Expand/Collapse" aria-hidden="true">…</label>
</div>
