{%- assign in_reply_to_link_mastodon_instance = site.data.mastodon_instances | where_exp: 'instance', 'in_reply_to_link contains instance' | first | default: null -%}
{% if in_reply_to_link contains 'chrisburnell.com' or in_reply_to_link contains 'twitter.com' or in_reply_to_link_mastodon_instance %}
    <div class="reply-context">
        {% if in_reply_to_link contains 'twitter.com' %}
            <blockquote class="twitter-tweet" lang="en"><a href="{{ in_reply_to_link }}"></a></blockquote>
            <noscript>Please enable JavaScript to see Twitter-specific components.</noscript>
        {% elsif in_reply_to_link_mastodon_instance %}
            <iframe src="{{ in_reply_to_link }}/embed" class="mastodon-embed" loading="lazy"></iframe>
            <noscript>Please enable JavaScript to see Mastodon-specific components.</noscript>
        {% elsif in_reply_to_link contains 'chrisburnell.com' %}
            {% assign page_map = site.posts | where_exp: 'post', 'in_reply_to_link contains post.slug' | first %}
            <blockquote>
                <div><em>In reply to:</em></div>
                {% if page_map.titlefree %}
                    {% if page_map.content != '' %}
                        <p>{{ page_map.content }}</p>
                        <div><a href="{{ page_map.url }}">Read more →</a></div>
                    {% else %}
                        <a href="{{ page_map.url }}">{% include_cached content/titleize.liquid title=page_map.category %} from {{ page_map.date | date: '%A, %d %B %Y' }} →</a>
                    {% endif %}
                {% else %}
                    <h3 class="delta"><a href="{{ page_map.url }}">{{ page_map.title }} →</a></h3>
                {% endif %}
            </blockquote>
        {% endif %}
    </div>
{% endif %}
