{% if page.previous or page.next %}
    <section class="widget  widget--browse-posts" aria-label="Browse to Previous and Next Posts">
        {% if page.previous %}
            <a class="widget-previous-anchor" href="{{ page.previous.url }}">
                {% if page.previous.like_of.title %}
                    Liked: {{ page.previous.like_of.title }}
                {% elsif page.previous.category == 'like' or page.previous.category == 'note' %}
                    {{ page.previous.category | capitalize }} from {{ page.previous.date | date: '%d %B %Y' }}
                {% else %}
                    {{ page.previous.title }}
                {% endif %}
            </a>
        {% endif %}
        {% if page.next %}
            <a class="widget-next-anchor" href="{{ page.next.url }}">
                {% if page.next.like_of.title %}
                    Liked: {{ page.next.like_of.title }}
                {% elsif page.next.category == 'like' or page.next.category == 'note' %}
                    {{ page.next.category | capitalize }} from {{ page.next.date | date: '%d %B %Y' }}
                {% else %}
                    {{ page.next.title }}
                {% endif %}
            </a>
        {% endif %}
    </section>
{% endif %}
